
html,
body {

   
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    
}

 .gradient{

    background: rgb(215,215,227);
background: linear-gradient(90deg, rgba(215,215,227,1) 0%, rgba(9,11,14,1) 0%, rgba(245,250,252,1) 0%, rgba(202,210,213,1) 100%);
} 


   


.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

